div{
    border: 2.5px solid red;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 30px;
    /* margin: 100px; */
   margin-top: 120px;
   margin-right: 300px;
   margin-left: 300px;
}
h1{
    font-style: italic;
}
h1, p, button{
    border: 2.5px solid red;
    margin:10px;
}
ul{
    border: 2.5px solid red;
    margin:10px;
}
ul :nth-child(1){
    border: 2.5px solid red;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 5px;
}

ul :nth-child(2){
    border: 2.5px solid red;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: -20px;
}
span{
padding-left: 3px;
}

a, button{
border: 2.5px solid red;
margin:15px;
padding:5px;
}